
  
  .container {
    display: grid;

  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 500px;
    text-align: center;
  
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
   
  }
  
  .login-container div {
    background: rgb(249, 249, 249);
    border: 1px solid #fff;
    /* Añade un borde blanco para separar visualmente los cuadrados */
  }
  

  .background-image {
    grid-row: 1 / 4;
    background-image: url('../public/img/acceso.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .login-container div:first-child {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    background: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* Centra la imagen horizontal y verticalmente */
  }
  
  
  .login-container div:nth-child(2) {
    grid-column: 1 / -1;
    grid-row: 5 / 11;
    background: rgb(255, 255, 255);
  
  }